SUPABASE_URL=https://pvmdfszpdmcwrrzifgts.supabase.co
SUPABASE_KEY=sb_publishable_ZenXemz01eCTHG9Y-0iMNA_MxxVgi4_
SUPABASE_SERVICE_KEY=sb_secret_T-xOJDQg-gV3a1SjA_Zsjg_d7Jd1-kR
ANTHROPIC_API_KEY=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
JWT_SECRET=localizeai_secret_key_2026_deepan
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
FRONTEND_URL=https://multilingual-course-localizer.vercel.app
UPLOAD_DIR=uploads
 